@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,html{
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

#card1:hover #img{
    top: 0;
    left: 0;
    transition:0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

